# Ignore service account key
smart_plant_layer3/serviceAccountKey.json
smart_plant_layer3/key_private.json
smart_plant_layer3/smart.json
smart_plant_layer4_AI/smart.json
smart_plant_layer3/iot_storage_service.json
smart_plant_layer3/client_secret.json

smart_plant_layer3/smart_key.json"smart_plant_layer3/*.json" 

tfenv/
smart_plant_layer3/smart.json
smart_plant_layer3/smart.json

__pycache__/
*.pyc
